__pycache__
_build
.ipynb_checkpoints
*_checkpoints
*.DS_Store
*.egg-info
build/
dist/
*.vscode
.coverage
*.jupyterlab-workspace

# Sphinx documentation
docs/build/
docs/jupyter_execute/
docs/source/api/generated/

.cursor/plans
.marimo/
