ci:
  autofix_prs: false

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/lucianopaz/head_of_apache
    rev: "0.1.1"
    hooks:
      - id: head_of_apache
        args:
          - --author=The PyMC Labs Developers
          - --exclude=docs/
          - --exclude=scripts/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude_types: [svg]
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: check-yaml
      - id: check-added-large-files
        exclude: &exclude_pattern '(iv_weak_instruments|its_lift_test)\.ipynb'
        args: ["--maxkb=1500"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        # needed to make excludes in pyproject.toml work
        # see here https://github.com/econchick/interrogate/issues/60#issuecomment-735436566
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          # Support pyproject.toml configuration
          - tomli
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^causalpy/
        additional_dependencies: [numpy>=1.20, pandas-stubs]
