[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = [
    "-v",
    "--strict-markers",
    "--strict-config",
    "--cov=causalpy",
    "--cov-report=term-missing -vv",
]
testpaths = "causalpy/tests"
