/* Make each footer item in-line so they stack horizontally instead of vertically */
.footer-item {
  display: inline-block;
}

/* Add a separating border line for all but the last item */
/*
.footer-item:not(:last-child) {
  border-right: 1px solid var(--pst-color-text-base);
  margin-right: .5em;
  padding-right: .5em;
}
*/

.footer-item ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-item ul li {
  padding-right: .5em;
}

.footer-item li a.nav-link {
  color: var(--pst-color-text-muted);
}

.footer-item li a.nav-link:hover {
  color: var(--pst-color-primary);
  text-decoration: none;
}

/*  Remove footer icon text for small screen width and increase icons size */
@media (max-width: 660px) {
  .footer-item li a.nav-link i {
    padding-right: 0.5em;
    font-size: calc(var(--bs-body-font-size) * 1.5);
  }

  .footer-item li a.nav-link span {
    font-size: 0;
  }
}

footer.bd-footer {
  position: static;
  bottom: auto;
  background: var(--pst-color-on-background) !important;
}

/* Make footer non-sticky when lines start to wrap-around*/
@media (max-width: 520px) {
  footer.bd-footer {
    position: inherit;
  }
}

.causalpy-name {
  padding-left: 2rem;
}

@media (min-width: 960px) {
  .navbar-center-item {
    padding-right: 4em;
  }
}

.no-border {
  border: none !important;
}
