name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip and setuptools
        run: pip install --upgrade pip setuptools
      - name: Setup environment
        run: pip install -e .[test]
      - name: Run doctests
        run: pytest --doctest-modules --ignore=causalpy/tests/ causalpy/ --config-file=causalpy/tests/conftest.py --no-cov
      - name: Run extra tests
        run: pytest docs/source/.codespell/test_notebook_to_markdown.py --no-cov
      - name: Run tests
        run: pytest --cov-report=xml --no-cov-on-fail
      - name: Check codespell for notebooks
        run: |
          python ./docs/source/.codespell/notebook_to_markdown.py --tempdir tmp_markdown
          codespell
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # use token for more robust uploads
          name: ${{ matrix.python-version }}
          fail_ci_if_error: false
