name: Label Pre-Commit PRs

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    if: github.event.pull_request.user.login == 'pre-commit-ci[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Add "no releasenotes" label
        uses: actions-ecosystem/action-add-labels@18f1af5e3544586314bbe15c0273249c770b2daf # v1.1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: no releasenotes
